::-webkit-scrollbar{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
p, a,h2,button{
    font-family: 'Roboto', sans-serif;
}
.feature:hover{
    background-color:#00b894;
    color: white;
  
    transition: 0.5s;
    transform: translateY(-8px);
   
}
.client{
    transition: transform 0.3s ease-in;
}
.client:hover{
    transform: translateY(-5px);
    
}
